language: node_js
node_js:
    - lts/*
cache: yarn
notifications:
    email: false
script: yarn verify
jobs:
    include:
        - stage: release
          node_js: lts/*
          deploy:
              provider: script
              skip_cleanup: true
              script:
                  - npx semantic-release
